.cart-box {
top: 10px;
right: 20px;
position: fixed;
  background: rgba(255, 248, 220, 0.7);
  backdrop-filter: blur(5px);
  border: 2px solid rgba(184, 155, 111, 0.8);
  border-radius: 8px;
  padding: 15px;
  max-width: 315px;
  margin-top: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  font-family: 'Georgia', serif;
  color: #3b2d1a;
  display:inline-block;
}

.cart-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.cart-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.cart-remove-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #d00c0c;
}

.cart-remove-btn:hover {
  color: red;
}

.cart-total {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}


.coin-icon {
  width: 20px   !important;
  height: 20px  !important;
  vertical-align: middle; 
  margin-left: 4px;
  border-radius: 0% !important
}
