.shop-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/WizardBackground.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #0e0a1a;
  z-index: 0;
}


.shop-content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.shop-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}

.cart {
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgba(255, 248, 220, 0.8);
  padding: 10px;
  border-radius: 10px;
  max-width: 250px;
  font-size: 1.1rem;
  z-index: 1000;
}


.show-items-btn {
  position: fixed;               
  top: 70%;                     
  left: 50%;                     
  transform: translate(-50%, -50%);
  padding: 20px 40px;           
  font-size: 1.4rem;            
  border: none;
  border-radius: 12px;
  background-color: #2a82c1;
  color: #97826d;
  cursor: pointer;
  z-index: 100;                 
  transition: background 0.3s, transform 0.2s;
}

.show-items-btn:hover {
  background-color: #78c6e8;
  transform: translate(-50%, -50%) scale(1.05); 
}


.shop-items-container {
  position: fixed;
  top: 68%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 52vh;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  z-index: 500;
}

.close-button {
  position: relative;
  top: -10px;
  right: -420px;
  border: none;
  background: white;
  color: rgb(30, 9, 9);
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 60%;
}

.close-btn:hover {
  transform: scale(1.2);
}


.shop-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 15px;
  overflow-y: auto;
  padding: 10px;
  width: 100%;
  height: 100%;
}


.shop-items::-webkit-scrollbar {
  width: 6px;
}

.shop-items::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}
